body{
    background-color: #eee;
    padding-bottom: 20px;
    color: #5a5a5a;
}
.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container{
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar .container{
    width: auto;
}
.navbar-wrapper .navbar{
    padding-left: 20px;
    padding-right: 20px;
}
.carousel{
    height: 500px;
    margin-bottom: 50px;
}

.carousel .item{
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item >img{
    position: absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left: 0;
}


.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px;
}

.team h2{
    color: rgba(50,50,50,.8);
}
.team p{
    margin-left: 10px;
    margin-right: 10px;
}
.divider{
    margin: 40px 0;
}
.mickey{
    padding: 50px;
    text-align: center;
    padding-top: 80px;
}
.content{
    margin-bottom: 30px;
}

footer{
    margin: 0 110px;
}

.content p{
    color: black;
}
#login{
    min-width: 250px;
    background-color: rgba(255,255,255,0.7);
    padding: 14px,14px,0;
    overflow: hidden;
}
#login .social-button{
   margin: 12px 0; 
}
.btn-fb{
    margin-left: 9%;
    color: #fff;
    background-color: #3b599d;
}
.btn-tw{
    margin-left: 6%;
    color: #fff;
    background-color: #c71610;
}
.btn-fb:hover{
    color: #fff;
    background-color: #496ebc;
}
.btn-tw:hover{
    color: #fff;
    background-color: #d9534f;
}













